



body {
	margin-top: 3%;
}

.counter {
	width: 25rem;
	height: 25rem;
	border: 3px solid black;
	border-radius: 100%;
	margin-top: 10%;
	margin-bottom: 100px;
	overflow: hidden;
	position: relative;
}

.counter:hover .hover {
	height: 100%;
}

.hover {
		color: red;
    position: absolute;
    width:100%;
    top:0; /*Change 'top' to 'bottom' for an upwards transition*/
    height:0px;
    margin:0 auto;
    padding:0px;
    background-color: #39afc9;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}



.counter-header {
	margin-top: 20%;
}

.counter-timer, p .counter-header, p{
	font-size: 46px;
}


.animate {
	z-index;1;
	width:100%;
	height:100%;
	background-color:blue;
	left:0px;
	top:0px;
	opacity: .6;
	position: absolute;
	margin-top: 100%;
}
