



body {
	margin-top: 3%;
	background-color: rgb(83, 103, 98);
}

.counter {
	width: 25rem;
	height: 25rem;
	border: 3px solid black;
	border-radius: 100%;
	margin-top: 10%;
	margin-bottom: 100px;
}

.counter-header {
	margin-top: 20%;
}

.counter-timer, p .counter-header, p{
	font-size: 46px;
}
