



body {
	margin-top: 3%;
}

.counter {
	width: 30rem;
	height: 30rem;
	border: 3px solid black;
	border-radius: 100%;
	margin-top: 10%;
	margin-bottom: 100px;
	overflow: hidden;
	position: relative;
}

.counter-header {
	margin-top: 20%;
}

.counter-timer, p .counter-header, p{
	font-size: 46px;
}


.animate {
	z-index;1;
	width:100%;
	height:100%;
	background-color:blue;
	left:0px;
	top:0px;
	opacity: .6;
	position: absolute;
	margin-top: 100%;
}
